<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.door43.translationstudio" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.door43.translationstudio.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.door43.translationstudio.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name="com.door43.translationstudio.TermsActivity"
            android:label="@string/app_name"
            android:theme="@style/TitledTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.door43.translationstudio.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/SettingTheme" >
        </activity>
        <activity
            android:name="com.door43.translationstudio.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.door43.translationstudio.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.door43.translationstudio.MainActivity"
            android:theme="@style/TitledTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.MainActivity" />
        </activity>
        <activity
            android:name="com.door43.translationstudio.ChapterSettingActivity"
            android:label="@string/title_activity_chapter_setting"
            android:parentActivityName="com.door43.translationstudio.MainActivity"
            android:theme="@style/TitledTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.MainActivity" />
        </activity>
        <activity
            android:name="com.door43.translationstudio.LanguageSelectorActivity"
            android:label="@string/title_activity_language_selector"
            android:theme="@style/TitledTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.ChapterSettingActivity" />
        </activity>
        <activity
            android:name="com.door43.translationstudio.SharingActivity"
            android:label="@string/title_activity_sharing"
            android:parentActivityName="com.door43.translationstudio.MainActivity"
            android:theme="@style/TitledTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.MainActivity" />
        </activity>
        <activity
            android:name="com.door43.translationstudio.FileExplorerActivity"
            android:label="@string/title_activity_file_explorer"
            android:theme="@style/TitledTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.SharingActivity" />
        </activity>
        <activity
            android:name="com.door43.translationstudio.uploadwizard.UploadWizardActivity"
            android:label="@string/title_activity_upload_wizard"
            android:theme="@style/TitledTheme" >
        </activity>
        <activity
            android:name="com.door43.translationstudio.ProjectSettingsActivity"
            android:label="@string/title_activity_project_settings"
            android:parentActivityName="com.door43.translationstudio.MainActivity"
            android:theme="@style/TitledTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.MainActivity" />
        </activity>
        <activity
            android:theme="@style/TitledTheme"
            android:windowSoftInputMode="adjustPan"
            android:name="com.door43.translationstudio.CrashReporterActivity"
            android:label="@string/title_activity_crash_reporter" >
        </activity>
    </application>

</manifest>
