<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.door43.translationstudio" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Titled" >
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.door43.translationstudio.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".TermsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Main" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Main"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Titled" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.MainActivity" />
        </activity>
        <activity
            android:name=".ChapterSettingActivity"
            android:label="@string/title_activity_chapter_setting"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Titled"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.MainActivity" />
        </activity>
        <activity
            android:name=".LanguageSelectorActivity"
            android:label="@string/title_activity_language_selector"
            android:theme="@style/Theme.Titled" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.ChapterSettingActivity" />
        </activity>
        <activity
            android:name=".SharingActivity"
            android:label="@string/title_activity_sharing"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Titled" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.MainActivity" />
        </activity>
        <activity
            android:name=".filebrowser.FileBrowserActivity"
            android:label="@string/title_activity_file_explorer"
            android:theme="@style/Theme.Transparent" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.SharingActivity" />
        </activity>
        <activity
            android:name=".uploadwizard.UploadWizardActivity"
            android:label="@string/backup_and_publish"
            android:theme="@style/Theme.Titled" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.MainActivity" />
        </activity>
        <activity
            android:name=".ProjectSettingsActivity"
            android:label="@string/title_project_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Titled" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.MainActivity" />
        </activity>
        <activity
            android:name=".CrashReporterActivity"
            android:label="@string/title_activity_crash_reporter"
            android:theme="@style/Theme.Titled" >
        </activity>
        <activity
            android:name=".BugReporterActivity"
            android:label="@string/title_activity_bug_reporter"
            android:theme="@style/Theme.Titled" >
        </activity>
        <activity
            android:name=".device2device.DeviceToDeviceActivity"
            android:label="@string/title_activity_sharing"
            android:screenOrientation="portrait"
            android:parentActivityName=".SharingActivity"
            android:theme="@style/Theme.Titled" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.SharingActivity" />
        </activity>
        <activity
            android:name=".DeveloperToolsActivity"
            android:label="@string/title_activity_developer"
            android:theme="@style/Theme.Titled" >
            <intent-filter>
                <action android:name="com.activity.DeveloperToolsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.SettingsActivity" />
        </activity>
        <activity
            android:name=".GetMoreProjectsActivity"
            android:label="@string/title_activity_get_more_projects"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Titled" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.MainActivity" />
        </activity>
        <activity
            android:name=".library.ProjectLibraryListActivity"
            android:label="@string/title_activity_project_library"
            android:theme="@style/Theme.Main"
            android:launchMode="singleTop"
            android:parentActivityName=".GetMoreProjectsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GetMoreProjectsActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".library.ProjectLibraryDetailActivity"
            android:label="@string/title_project_detail"
            android:parentActivityName=".library.ProjectLibraryListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".library.ProjectLibraryListActivity" />
        </activity>
    </application>

</manifest>
