<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.door43.translationstudio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.door43.translationstudio.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service
            android:name=".service.BackupService"
            android:label="Backup Manager" />
        <service
            android:name=".service.BroadcastService"
            android:label="Services Broadcaster" />
        <service
            android:name=".service.BroadcastListenerService"
            android:label="Services Listener" />
        <service
            android:name=".service.ServerService"
            android:label="Server Service" />
        <service
            android:name=".service.ClientService"
            android:label="Client Service" />

        <activity
            android:name=".TermsOfUseActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".newui.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.newui.home.HomeActivity" />
        </activity>
        <activity
            android:name=".CrashReporterActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_crash_reporter" />
        <activity
            android:name=".ImportFileChooserActivity"
            android:label="@string/title_file_browser" />
        <activity
            android:name=".DeveloperToolsActivity"
            android:label="@string/title_activity_developer">
            <intent-filter>
                <action android:name="com.activity.DeveloperToolsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.door43.translationstudio.SettingsActivity" />
        </activity>
        <activity
            android:name=".newui.library.ServerLibraryActivity"
            android:label="@string/title_activity_project_library"
            android:launchMode="singleTop"
            android:parentActivityName=".newui.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".newui.home.HomeActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".newui.library.ProjectLibraryDetailActivity"
            android:label="@string/title_project_detail"
            android:parentActivityName=".newui.library.ServerLibraryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".newui.library.ServerLibraryActivity" />
        </activity>
        <activity
            android:name=".newui.home.HomeActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_target_translations"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- this does not work to register file extension -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="ftp" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.tstudio" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".newui.newtranslation.NewTargetTranslationActivity"
            android:label="@string/title_activity_new_target_translation"
            android:parentActivityName=".newui.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".newui.home.HomeActivity" />
        </activity>
        <activity
            android:name=".newui.translate.TargetTranslationActivity"
            android:label="@string/title_activity_target_translation_detail"
            android:parentActivityName=".newui.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".newui.home.HomeActivity" />
        </activity>
        <activity
            android:name=".newui.publish.PublishActivity"
            android:label="@string/title_activity_publish"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".newui.newlanguage.NewTempLanguageActivity"
            android:label="@string/title_activity_new_language"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".newui.legal.LegalDocumentActivity"
            android:label=""
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="com.activity.LegalDocumentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".newui.draft.DraftActivity"
            android:label="@string/preview">

            <!-- android:theme="@style/AppTheme.NoActionBar" -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".newui.translate.TargetTranslationActivity" />
        </activity>
        <activity android:name=".RegisterDoor43Activity" />
        <activity android:name=".LoginDoor43Activity" />
        <activity android:name=".RegisterOfflineActivity"></activity>
        <activity
            android:name=".newui.ImportUsfmActivity"
            android:label="@string/title_activity_import_usfm_language">
        </activity>
    </application>

</manifest>
